
.login {
    .form-signin {
        max-width: 430px;
        padding: 10px 25px 25px 25px;
        margin: 80px auto 0;
        background-color: #FFF;
        text-align: left;

        h1 {
            font-size: 30px;
            color: $primary;

            span {
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .input-error,
        .input-error:focus {
            border-color: $red;
        }
    }
}